@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap'); /* Import Tenor Sans font */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import "tailwindcss";

/* .tenor-sans {
  font-weight: 400;
  font-style: normal;
} */

.didact-gothic {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Tenor Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: black;
}

button {
  padding: 14px;
  font-weight: 400;
  border: 1px solid;
  transition: border-color 0.25s;
}
button:hover {
  border-color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.tenor-sans {
  font-family: "Tenor Sans", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: black;
  }

}
